* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #2c3e50;
    min-height: 100vh;
    transition: width 0.3s ease;
    width: 250px;
}

.sidebar.collapsed {
    width: 80px;
    align-items: center; /* Asegura que los elementos sigan centrados en modo colapsado */
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.nav-link span {
    display: inline-block;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link span {
    opacity: 0;
    transition: opacity 0.1s ease;
    visibility: hidden;
    width: 0;
    overflow: hidden;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.main-content {
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed + .main-content {
    margin-left: 80px;
}

.toggle-sidebar-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-sidebar-btn:hover {
    background-color: #34495e;
}

/* Aquí agrego el estado hover para las opciones del menú */
.nav-link:hover {
    background-color: #34495e;
    color: white; /* Color blanco para el texto en hover */
}

.seccion-activa {
    display: block;
}

.seccion-oculta {
    display: none;
}
