/* Ejemplo de estilos para el diseño */
.carousel-item {
    height: 75vh; /* Ajusta el valor según el tamaño que desees */
}
.carousel-item img {
    object-fit: contain; /* Muestra la imagen completa sin recortarla */
    width: 100%;
    height: auto;
}

.navbar-brand img {
    width: 60PX; /* Ajusta el ancho del logotipo */
    height: auto; /* Mantiene la proporción del logotipo */
}

#nosotros {
    padding: 50px 0;
}

#contacto {
    padding: 50px 0;
}

/* Espaciado adicional en el footer */
footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #343a40;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer hr {
    border-top: 1px solid white;
}

/* Espaciado adicional entre secciones */
section {
    margin-bottom: 50px;
}

#map iframe {
    width: 100%;
    height: 400px;
}

/* Elimina margen superior del carousel */
#carouselExampleIndicators {
    margin-top: 0;
    padding-top: 0;
}

/* Navbar fijo */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; /* Asegúrate de que tenga fondo para que no se vea transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade un sombreado si lo deseas */
}

/* Asegurarse de que el contenido no quede debajo del navbar */
body {
    padding-top: 70px; /* Ajusta este valor según la altura de tu navbar */
}

html {
    scroll-behavior: smooth;
}


/* Estilos del formulario */
.contact-section .info-box {
    margin-bottom: 20px;
}

.contact-section h5 {
    font-weight: bold;
}

.contact-section p {
    font-size: 14px;
    color: #777;
}